* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  min-height: 100vh;
}

body {
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  cursor: default;
  overflow-y: auto;
  background-image: url('./backgroundImage.jpg');  
}

.background {
  background-color: #070034;
  width: min(90vw, 900px);
  margin: 30px auto;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 90vh;
  
}

.search-container {
  border: none;
  margin-right: 50px;
  margin-top: 8px;
  padding: 6px 10px;
  justify-content: right;
  display: flex;
}

#search-input {
  width: 40px;
  padding: 6px 10px;
  border: 1px solid black;
  border-radius: 4px;
  font: 20px Calibri, sans-serif;
  overflow: hidden;
  width: 40%;
  margin-top: 1.7vh;
  height: 40px;
  cursor: text;
}

#search-input::placeholder {
  font: 20px Calibri, sans-serif;
  color: black;
}


.date-picker {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

#datepicker {
  width: 150px;
  height: 25px;
  cursor: progress;
  font: 18px Calibri, sans-serif;
  text-align: center;
  color: white;
  background-color: #070034;
}

#datepicker::-webkit-calendar-picker-indicator {
  filter: invert(1)
;}

.title {
  font: 36px Calibri, sans-serif;
  color: white;
  text-align: center;
  word-wrap: break-word;
}

.explanation {
  font: 18px Calibri, sans-serif;
  color: white;
  margin: 15px;
  margin-bottom: 5vh;
  line-height: 1.6;
  text-align: left;
  width: 100%;
}

.copyright {
  font: 15px Calibri, sans-serif;
  color: white;
  bottom: 0;
  text-align: center;
  margin-bottom: 10px;

  margin-top: auto;
}

.media {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

iframe.media, video.media {
  width: 100%;
  max-width: 700px; /*same as the max-width of .media above */
  aspect-ratio: 16/9;
  border: none;
}